@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #121212;
  color: #e5e5e5;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  display: flex;
}
